body {
    background: #dfe7e9;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 50px;
    outline: none !important;
}

.signup-form {
    width: 480px;
    margin: 0 auto;
    padding: 72px 0;
}

.signup-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.signup-form a {
    color: #5cb85c;
}

.signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}

.signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
}

.signup-btn:hover {
    background: #5cb85c;
    opacity: 0.8;
}

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}

.social-btn .btn:first-child {
    margin-left: 0;
}

.social-btn .btn:hover {
    opacity: 0.8;
}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
}


/* Banner */

#banner {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: black;
    display: -moz-flex;
    /* display: -webkit-flex; */
    display: -ms-flex;
    /* display: flex; */
    padding: 6em 0 2em 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 !important;
    cursor: default;
    height: 50%;
    margin-bottom: -3.25em;
    max-height: 50%;
    min-height: 22em;
    position: relative;
    top: -3.25em;
}

#banner:after {
    -moz-transition: opacity 2.5s ease;
    -webkit-transition: opacity 2.5s ease;
    -ms-transition: opacity 2.5s ease;
    transition: opacity 2.5s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-color: #242943;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.001;
    position: absolute;
    top: 0;
    /* width: 100%; */
    z-index: 1;
}

#banner h1 {
    font-size: 3.25em;
}

.inner {
    -moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
    -webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
    -ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
    transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
    padding: 0 !important;
    position: relative;
    z-index: 2;
    margin-top: -880px;
    padding-left: 50px;
}

.inner .image {
    display: none;
}

.inner header {
    width: auto;
}

.inner header> :first-child {
    width: auto;
}

.inner header> :first-child:after {
    max-width: 100%;
}

.inner .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 0 2em 0;
}

.inner .content>* {
    margin-left: 1.5em;
    margin-bottom: 0;
}

.inner .content> :first-child {
    margin-left: 0;
}

.inner .content p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

#banner.major {
    height: 75vh;
    min-height: 30em;
    max-height: 50em;
}

#banner.major.alt {
    opacity: 0.75;
}

#banner.style1:after {
    background-color: #6fc3df;
}

#banner.style2:after {
    background-color: #8d82c4;
}

#banner.style3:after {
    background-color: #ec8d81;
}

#banner.style4:after {
    background-color: #e7b788;
}

#banner.style5:after {
    background-color: #8ea9e8;
}

#banner.style6:after {
    background-color: #87c5a4;
}

body.is-loading #banner:after {
    opacity: 1.0;
}

body.is-loading #banner>.inner {
    -moz-filter: blur(0.125em);
    -webkit-filter: blur(0.125em);
    -ms-filter: blur(0.125em);
    filter: blur(0.125em);
    -moz-transform: translateX(-0.5em);
    -webkit-transform: translateX(-0.5em);
    -ms-transform: translateX(-0.5em);
    transform: translateX(-0.5em);
    opacity: 0;
}

@media screen and (max-width: 1280px) {
    #banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 5em 0 1em 0;
        height: auto;
        margin-bottom: -2.75em;
        max-height: none;
        min-height: 0;
        top: -2.75em;
    }
    #banner h1 {
        font-size: 2em;
    }
    #banner>.inner .content {
        display: block;
    }
    #banner>.inner .content>* {
        margin-left: 0;
        margin-bottom: 2em;
    }
    #banner.major {
        height: auto;
        min-height: 0;
        max-height: none;
    }
}

@media screen and (max-width: 480px) {
    #banner {
        padding: 6em 0 2em 0;
    }
    #banner>.inner .content p br {
        display: none;
    }
    #banner.major {
        padding: 8em 0 4em 0;
    }
}

.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
}


/* Vertical line */

.collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%!important;
        flex: 0 0 66.666667%!important;
        max-width: 63.666667%!important;
    }
}

.icons i {
    color: #b5b3b3;
    border: 1px solid #b5b3b3;
    padding: 6px;
    margin-left: 4px;
    border-radius: 5px;
    cursor: pointer
}

.activity-done {
    font-weight: 600
}

.list-group li {
    margin-bottom: 12px
}

.list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #e3dada;
    margin-top: 12px;
    border-radius: 5px;
    background: #fff
}

.checkicon {
    color: green;
    font-size: 19px
}

.date-time {
    font-size: 12px
}

.profile-image img {
    margin-left: 3px
}